@font-face {font-family: "custom-icon";
  src: url('iconfont.eot?t=1601032727090'); /* IE9 */
  src: url('iconfont.eot?t=1601032727090#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('data:application/x-font-woff2;charset=utf-8;base64,d09GMgABAAAAAALoAAsAAAAABtgAAAKZAAEAAAAAAAAAAAAAAAAAAAAAAAAAAAAAHEIGVgCCfgqBGIEnATYCJAMMCwgABCAFhREHQhsVBhEVjH2yPyU3h8gWoM/OJTg9Qad81b62SCwjK4gOhvYtu+9n8+DUgZl0TPD8t1+7b2bWJWGeNmFufRtkkpROaESvKlEjh/wDoBEWQhr1DQ/gsKeXWGiRx5BkJdxKquDCzwGnp5QzbIQ74w42zuFqPYPL8o45IIcYxnzfzbBXoyIMU/I8+Fu+4xd2eGl644/7qT8xFsAPBFaVtKYKoeEwz7uBRridT9S3yK496Q7icwjgJoMypJm6h3FiwOsEkG1eW8BZCGAwRtqJYG84apADbDjVngpgP/q8/JISQGHT4K39qy3L1H/KJ3RWTAuEIAhw2gZooAwwIKONiX40YnA17oQhD441T+ATlvUp4h8PwQAKAbGDs70AFCG5eiIhE2RKgOiJszUA9iQjD2gEa6JTteKFK8Ymx85HN4bbpi5HxmJp5KVuSb9+6vLt0P11+aGsJk6i+jTdDqz0TrsYCkjttk54X7Q58WczD4BllkcpN+1H/oYjJZcI+NEA8FJ/CH7LguEZOFFgCH+bcGCb8cXYqI0rYILQpUlOtCkAnunGAuwJ8z5dE7s9m+ApCA1QOMgCjYdC1JAp1EbWoHayHdyUMnTaQ4QdNGJcQAmHCghxjkHh5wo0cT5QQ/4jNkpE7WTgZlS40kOB7DAEVhHI/WnxfEZaqsbnpHyUxcF3THm3Ypan0TckLdBLbdU0pEeckOV2pM/UqUaKwgcNM7+GfWe6hFd4rWbVq6/r2PSmyvNRGAisIpD70+L5jOKyGs5J+Si7vueOKe9WuutoiL0hpmJBk6G2aoaho+IcWvWIj6TP1KlGijLNRcOhF2Hfma7mRSu8VvOE2NXXpFscqqi2VR2/lG/UgbeTz0WLLAHiF7pnx20S4PxnexYFAAAA') format('woff2'),
  url('iconfont.woff?t=1601032727090') format('woff'),
  url('iconfont.ttf?t=1601032727090') format('truetype'), /* chrome, firefox, opera, Safari, Android, iOS 4.2+ */
  url('iconfont.svg?t=1601032727090#custom-icon') format('svg'); /* iOS 4.1- */
}

.custom-icon {
  font-family: "custom-icon" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.custom-icon-bordercircle:before {
  content: "\e75f";
}

.custom-icon-greenyuan:before {
  content: "\e75e";
}

